*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    background: goldenrod;
}

.container1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    gap: 1rem;
}

.choices{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    box-shadow: inset 0 0 15px, 0 3px 15px black;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

img{
    border-radius: 50%;
}

button{
    padding: 0.5rem 2rem;
    border: 1px solid rgb(121, 91, 17);
    outline: none;
    background-color: transparent;
    border-radius: 0.2rem;
    box-shadow: inset 0 3px 15px rgba(0, 0, 0, 0.521);
    font-size: large;
    color: #000;
    font-weight: bold;
}

button:hover{
    transform: translateY(-3px);
    background-color: rgb(249, 179, 0);
    box-shadow: none;
    transition: all 400ms linear;
}


.choices:active{
    background-color: #b7970a;
    button{
    background-color: #000;
    color: #fff;
    }
}


.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    gap: 1rem;
}

.scoreContainer{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.scoreContainer div{
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    box-shadow: inset 0px 2px 10px rgba(0, 0, 0, 0.555);
    padding: 0.5rem;
    border-radius: 0.3rem;
}

.scoreContainer .score{
    display: inline-block;
    padding: 1rem;
    margin-inline: 1.5rem;
    font-weight: 500;
    font-size: 2rem;
}

.para p{
    width: 100%;
    font-size: 1.3rem;
    color: #00f;
    margin-bottom: 2rem;
}

.resetbtn{
    font-size: 1.5rem;
    box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.521);
}

.resetbtn:active{
    background-color: #000;
    color: #fff;
}

#Player1{
    display: flex;
    flex-wrap: wrap;
}

.loader{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}
.load{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 5rem;
    max-height: 5rem;
    gap: 0.1rem;
}

.hide{
    display: none;
}

.part{
    background: rgb(17, 92, 92);
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 2px;
}

#para{
    font-size: 2rem;
}

@media (max-width : 560px){
    *{
        font-size: 1rem;
    }
    img{
        height: 100px;
        width: 100px;
    }
    button{
        padding: 0.2rem 1rem;
    }
}

@media (max-width : 420px) {
    body{
        justify-content: flex-start;
        max-height: min-content;
        margin-bottom: 2rem;
    };
}